body {
    font-family: Arial, sans-serif;
    background-color: #101016;
    text-align: center;
    margin: 0;
    padding: 20px 15px;
}

h2 {
    color: #d1cbd1;
    margin-bottom: 30px;
}

.hero {
    margin-bottom: 40px;
    text-align: center;
}