body {
    font-family: Arial, sans-serif;
    background-color: #101016;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #d1cbcb;
    font-size: 40px;
    margin-bottom: 30px;
}

#generate-btn {
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    
}

#generate-btn:hover{
    transform: scale(1.2);
    background-color: #45a049;
}

#workout-list {
    user-select: none; 
    cursor: default; 
    margin-top: 30px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 250px;
    min-height: 250px;
    text-align: left;
}

#workout-list li {
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
}

#difficulty-select {
    margin-bottom: 20px;
}

.difficulty-btn {
    background-color: #f2f1f3;
    font-family: Arial, sans-serif;
    color: #193a94;
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    cursor: pointer;
    transition: 200ms ease;
    margin: 10px;
}

.difficulty-btn:hover {
    background-color: #4c82af;
    transform: scale(1.2);
    color: white;
}

.difficulty-btn.active {
    background-color: #4c82af; 
    color: white;
    transform: scale(1.2);
    box-shadow: 0 0 20px #4c82af;
}

 p {
    text-align: left;
    font-size: 15px;
    margin: 10px 0;
    color: #d1cbcb;
    font-family: 'Courier New', Courier, monospace;
}

#workout-list p.total-time {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
}

#download-btn {
    background-color: #4c82af;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-left: 10px;
}

#download-btn:hover {
    transform: scale(1.2);
    background-color: #45a049;
}

.filters {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.filters label {
    font-size: 16px;
    color: #d1cbcb;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: #1a1a22;
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #2a2a33;
    transition: 0.2s ease;
}

.filters label:hover {
    background: #2a2a33;
}

.filters input[type="checkbox"] {
    transform: scale(1.4);
    cursor: pointer;
}